[Desktop Entry]
Encoding=UTF-8
Comment=Display the current laptop battery status
Comment[de]=Zeigt den aktuellen Battery-Satus des Laptops an
Name=kthinkbat
X-KDE-Library=kthinkbat_panelapplet
X-KDE-UniqueApplet = true